.mobile-nav{
    display: none;
}

.sub-menu{
    background: #eee;
    display: none;
    position: absolute;
    padding: 0;
}

.sub-menu li{
    list-style: none;
}
.sub-menu li a{
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 5px 10px;
    white-space:nowrap;
}

@media (max-width: 767px){
    .mobile-nav{
        display: block;
    }

    .sub-menu{
        position: static;
    }
}

@media (min-width: 767px){
    .navbar-nav > li:hover > .sub-menu{
        display: block;
    }   
}
body {
}
